main{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 2fr);

}

main>div {
    border: 2px solid black;
}



.logo{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
}


img{
   min-width: 50px;
   max-width: 125px;
   height: 50px;
}

img+span{
    font-family: 'Norse', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    
}